<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Weather App</title>
    <!--<link rel="stylesheet" href="css/style.css" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
</head>

<body ng-app="angularApp" ng-controller="MainController">
    <!----- HEADER START--->
    <header id="header">
        <div class="content">
            <div id="logo"><a href="">Weather</a></div>
            <nav id="nav">
                <ul>
                    <li><a href="#panel-main" class="active" title="Next Section">Main</a></li>
                    <li><a href="#panel-hourly" title="Next Section">Hourly</a></li>
                    <li><a href="#panel-weekly" title="Next Section">Daily</a></li>
                    <li><a href="#panel-details" title="Next Section">Details</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!----- PANELS START --->
    <div id="panel-main">
        <div class="content">
            <div class="main-icon">{{weather.currently.icon}}</div>
            <div class="main-summary">{{weather.currently.summary}}</div>
            <div class="main-temperature">{{weather.currently.temperature | number:1}}°</div>
            <div class="main-apparent-temperature">{{weather.currently.apparentTemperature | number:1}}°</div>
        </div>
    </div>
    <div id="panel-hourly">
        <div class="content">
            <ul>
                <li ng-repeat="data in weather.hourly.data">
                    <div>{{data.icon}}</div>
                    <div>{{data.summary}}</div>
                    <div>{{data.temperature | number:1}}°</div>
                    <div>{{data.apparentTemperature | number:1}}°</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="panel-daily">
        <div class="content">
            <ul>
                <li ng-repeat="data in weather.daily.data">
                    <div class="daily-icon">{{data.icon}}</div>
                    <div class="daily-summary">{{data.summary}}</div>
                    <div class="daily-temperature-min">{{data.temperatureMin | number:1}}°</div>
                    <div class="daily-temperature-max">{{data.temperatureMax | number:1}}°</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="panel-details">
        <div class="content">
            <div class="details-precip-intesity">Precip. Intensity: {{weather.currently.precipIntensity}}</div>
            <div class="details-precip-probability">Precip. Probability: {{weather.currently.precipProbability}}</div>
            <div class="details-humidity">Humidity: {{weather.currently.humidity*100 | number:1}}%</div>
            <div class="details-wind-speed">Wind Speed: {{weather.currently.windSpeed | number:1}}</div>
            <div class="details-visibility">Visibility: {{weather.currently.visibility | number:1}}</div>
            <div class="details-pressure">Pressure: {{weather.currently.pressure | number:1}}</div>
        </div>
    </div>
    <!----- PANELS END --->
</body>

</html>